.message-list {
    padding: 1.6rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-image: url('../../imagenes/fondo-chat.png');
    }

.message-bubble {
    max-width: 70%;
    padding: 10px 14px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    font-size: 14px;
    }

    /* Tus mensajes (Homero) */
.message-bubble.sent {
    align-self: flex-end;
    background-color: #dcf8c6;
    text-align: right;
    }

    /* Mensajes recibidos */
.message-bubble.received {
    align-self: flex-start;
    background-color: #ffffff;
    text-align: left;
    }

.delete-message-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 8px;
    color: #666;
    font-size: 12px;
    transition: color 0.2s;
    }

.delete-message-button:hover {
    color: red;
    }